.container {
  align-items: center;
  background: $color-white;
  border: none;
  color: $color-amber-900;
  cursor: pointer;
  display: flex;
  font-family: $font-dm-sans;
  font-size: px-to-rem(14);
  font-weight: 400;
  gap: px-to-rem(6);
  line-height: 100%;

  &:hover {
    color: $color-amber-800;
  }
}
