@use '@/styles/app.scss' as *;

.container {
  align-items: center;
  border-radius: px-to-rem(8);
  border: none;
  column-gap: px-to-rem(10);
  cursor: pointer;
  display: flex;
  font-family: var(--font-dm-sans);
  font-size: px-to-rem(14);
  font-weight: 500;
  height: px-to-rem(46);
  justify-content: center;
  line-height: 100%;
  padding: 0 px-to-rem(20);
}

.PRIMARY {
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--amber-900) 70%,
    var(--amber-800) 100%
  );
}

.SECONDARY {
  color: var(--grey-800);
  background: var(--grey-200);
}
