.container {
  align-items: center;
  border-radius: px-to-rem(8);
  border: none;
  column-gap: px-to-rem(10);
  cursor: pointer;
  display: flex;
  font-family: $font-dm-sans;
  font-size: px-to-rem(14);
  font-weight: 500;
  height: px-to-rem(46);
  justify-content: center;
  line-height: 100%;
  padding: 0 px-to-rem(20);
}

.PRIMARY {
  color: $color-white;
  background: linear-gradient(
    to right,
    $color-amber-900 70%,
    $color-amber-800 100%
  );
}

.SECONDARY {
  color: $color-grey-800;
  background: $color-grey-200;
}
