.container {
  align-items: center;
  border-radius: convertPxToRem(8);
  border: none;
  column-gap: convertPxToRem(10);
  cursor: pointer;
  display: flex;
  font-size: convertPxToRem(14);
  font-weight: 500;
  height: convertPxToRem(46);
  justify-content: center;
  line-height: 100%;
  padding: 0 convertPxToRem(20);
}

.PRIMARY {
  color: $color-white;
  background: linear-gradient(
    to right,
    $color-amber-900 70%,
    $color-amber-800 100%
  );
}

.SECONDARY {
  color: $color-grey-800;
  background: $color-grey-200;
}

.LINK {
  background: transparent;
  padding: 0;
  height: auto;

  &:hover {
    text-decoration: underline;
  }
}
