.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - px-to-rem(68) - px-to-rem(44));

  @include respond-to(lg) {
    width: 100%;
    flex-direction: column;
  }
}

.columnLeft {
  flex: 1.5;
  margin-top: px-to-rem(30);
  position: relative;

  @include respond-to(lg) {
    display: none;
  }
}

.columnRight {
  flex: 1;
  width: 100%;
  justify-items: center;
  align-content: center;

  @include respond-to(sm) {
    justify-items: normal;
    align-content: normal;
  }
}
