.container {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - px-to-rem(68) - px-to-rem(44));

  @include media-query(lg) {
    width: 100%;
    flex-direction: column;
  }
}

.columnLeft {
  flex: 1.5;
  margin-top: px-to-rem(30);
  position: relative;

  @include media-query(lg) {
    display: none;
  }
}

.columnRight {
  flex: 1;
  width: 100%;
  align-content: center;

  @include media-query(sm) {
    margin-top: px-to-rem(30);
    align-content: flex-start;
  }
}
