html,
body,
p {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $color-amber-900;

  &:hover {
    color: $color-amber-800;
    cursor: pointer;
    text-decoration: underline;
  }
}
