html,
body,
p {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-dm-sans;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: $color-amber-900;

  &:hover {
    color: $color-amber-800;
    cursor: pointer;
    text-decoration: underline;
  }
}
