.chatLayout {
  display: grid;
  grid-template-columns: 3fr 9fr;
  height: 100vh;
}

.container {
  padding: convertPxToRem(16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - convertPxToRem(32));
}

.heading {
  font-size: convertPxToRem(30);
  font-weight: 600;
  text-align: center;
  color: $color-grey-800;
}

.subHeading {
  font-size: convertPxToRem(22);
  font-weight: 400;
  text-align: center;
  font-style: italic;
  color: $color-grey-600;
}
