import Colors from '../../themes/colors';
import PixelScale from '../../themes/sizes';
import createStyles from '../../util/styles.util';

const styles = (isDesktop: boolean) =>
  createStyles({
    container: {
      width: '100%',
      height: '90vh',
      backgroundColor: Colors.GREY_300,
    },
    loginForm: {
      display: 'flex',
      flexDirection: 'column',
      margin: '0 auto',
      rowGap: PixelScale.S_20,
    },
  });

export default styles;
