.searchBar {
  border-radius: convertPxToRem(8);
  padding: convertPxToRem(12);
  gap: convertPxToRem(6);
  max-height: convertPxToRem(30);
}

.searchIcon {
  color: $color-grey-600;
  width: convertPxToRem(20);
  height: convertPxToRem(20);
}