@use '@/styles/app.scss' as *;

.display-large {
  font-size: px-to-rem(57);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(64);
  letter-spacing: px-to-rem(-0.25);
  font-weight: 400;
}

.display-medium {
  font-size: px-to-rem(45);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(52);
  letter-spacing: px-to-rem(0);
  font-weight: 700;
}

.display-small {
  font-size: px-to-rem(36);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(44);
  letter-spacing: px-to-rem(0);
  font-weight: 700;
}

.heading-large {
  font-size: px-to-rem(32);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(40);
  letter-spacing: px-to-rem(0);
  font-weight: 600;
}

.heading-medium {
  font-size: px-to-rem(28);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(36);
  letter-spacing: px-to-rem(0);
  font-weight: 600;
}

.body-large {
  font-size: px-to-rem(16);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(24);
  letter-spacing: px-to-rem(0.5);
  font-weight: 400;
}

.body-medium {
  font-size: px-to-rem(14);
  font-family: var(--font-montserrat);
  line-height: px-to-rem(20);
  letter-spacing: px-to-rem(0.25);
  font-weight: 400;
}
