.container {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: end;
  z-index: 999;

  & svg {
    margin: convertPxToRem(20) 0;
    fill: $color-grey-700
  }
}
