.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: px-to-rem(20);
  border: 1px solid $color-grey-400;
  padding: px-to-rem(60) px-to-rem(30);
  row-gap: px-to-rem(20);
  max-width: px-to-rem(430);
  margin: 0 auto;

  font-family: $font-dm-sans;
  font-size: px-to-rem(14);
  font-weight: 400;
  text-align: center;
  color: $color-grey-800;

  @include media-query(lg) {
    max-width: px-to-rem(500);
  }

  @include media-query(sm) {
    padding: px-to-rem(15) px-to-rem(20);
    border: none;
  }

  & h2 {
    margin: 0;
    text-align: center;
    font-family: $font-dm-sans;
    font-size: px-to-rem(36);
    font-weight: 600;
    color: $color-black;

    @include media-query(sm) {
      font-size: px-to-rem(34);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    row-gap: px-to-rem(20);
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: px-to-rem(10);

  & > p {
    white-space: nowrap;
    font-family: $font-dm-sans;
    font-size: px-to-rem(14);
    font-weight: 400;
    color: $color-grey-800;
  }

  & > hr {
    border: 0.5px solid $color-grey-400;
    width: 100%;
  }
}
