.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: convertPxToRem(20);
  border: 1px solid $color-grey-400;
  padding: convertPxToRem(60) convertPxToRem(30);
  row-gap: convertPxToRem(20);
  max-width: convertPxToRem(430);
  margin: 0 auto;

  font-family: $font-dm-sans;
  font-size: convertPxToRem(14);
  font-weight: 400;
  text-align: center;
  color: $color-grey-800;

  @include media-query(lg) {
    max-width: convertPxToRem(500);
  }

  @include media-query(sm) {
    padding: convertPxToRem(15) convertPxToRem(20);
    border: none;
  }

  & h2 {
    margin: 0;
    text-align: center;
    font-family: $font-dm-sans;
    font-size: convertPxToRem(36);
    font-weight: 600;
    color: $color-black;

    @include media-query(sm) {
      font-size: convertPxToRem(34);
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    row-gap: convertPxToRem(20);
  }
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: convertPxToRem(10);

  & > p {
    white-space: nowrap;
    font-family: $font-dm-sans;
    font-size: convertPxToRem(14);
    font-weight: 400;
    color: $color-grey-800;
  }

  & > hr {
    border: 0.5px solid $color-grey-400;
    width: 100%;
  }
}
