$default-font-size: 16;
$default-max-width: 1280px;

// Breakpoints
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
$breakpoint-3xl: 1920px;

// Light theme colors
$color-black: #212121;
$color-white: #ffffff;
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eeeeee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-amber-50: #fff8e1;
$color-amber-100: #ffecb3;
$color-amber-600: #ffb300;
$color-amber-700: #ffa000;
$color-amber-800: #ff8f00;
$color-amber-900: #ff6f00;
$color-red-500: #f44336;
$color-green-500: #4caf50;
$color-transparent: transparent;

// Fonts
$font-dm-sans: var(--font-dm-sans);
