.container {
  display: block;
  & circle {
    cx: 22;
    cy: 22;
    fill: none;
    r: 18;
    stroke: $color-white;
    stroke-dasharray: 80;
    stroke-dashoffset: 60;
    stroke-linecap: round;
  }
}
