@use '@/styles/theme.scss' as *;

.image {
  position: absolute;
  z-index: -1;
  width: px-to-rem(450);
  height: auto;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.title1 {
  color: $color-black;
  font-family: $font-dm-sans;
  font-size: px-to-rem(48);
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-bottom: px-to-rem(8);
  & strong {
    color: $color-amber-800;
  }
}

.title2 {
  color: $color-black;
  font-family: $font-dm-sans;
  font-size: px-to-rem(64);
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-left: px-to-rem(200);
  & strong {
    color: $color-amber-900;
  }
}

.description {
  color: $color-grey-800;
  font-family: $font-dm-sans;
  font-size: px-to-rem(16);
  font-weight: 300;
  line-height: 150%;
}
