.image {
  position: absolute;
  z-index: -1;
  width: convertPxToRem(450);
  height: auto;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.title1 {
  color: $color-black;
  font-size: convertPxToRem(48);
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-bottom: convertPxToRem(8);
  & strong {
    color: $color-amber-800;
  }
}

.title2 {
  color: $color-black;
  font-size: convertPxToRem(64);
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  margin-left: convertPxToRem(200);
  & strong {
    color: $color-amber-900;
  }
}

.description {
  color: $color-grey-800;
  font-size: convertPxToRem(16);
  font-weight: 300;
  line-height: 150%;
}
