.container {
  margin: 0 auto;
  max-width: $default-max-width;
  padding: convertPxToRem(20) 0;

  @include media-query(sm) {
    padding: convertPxToRem(15) convertPxToRem(20);
  }

  & p {
    color: $color-grey-600;
    font-size: convertPxToRem(14);
    font-weight: 300;
    line-height: 100%;

    @include media-query(lg) {
      text-align: center;
    }
  }
}
